* {
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: #262626;
    background-repeat: no-repeat;

}

.styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 2rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgb(85, 85, 85);
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.styled:hover {
    background-color: rgba(85, 85, 85, 1);
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

footer {
    align-items: center;
    background-color: #262626;
    bottom: 0;
    color: #666666;
    display: flex;
    font-size: 5em;
    height: 200px;
    justify-content: center;
    position: fixed;
    text-transform: uppercase;
    width: 100%;
    z-index: 1;
  }


#header1 {
    font-size: 2rem;
    color: white;
}

#image {
    width: 500px;
    height: 450px;
}

#weeb {
    color: #262626;
}

article {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
  }


  * {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

#sidebar.active {
    left: 0px;
}

#sidebar {
    position: fixed;
    width: 250px;
    height: 100%;
    background-color: rgb(85, 85, 85);
    border-right: 4px solid #E0E5EA;
    left: -254px;

    -moz-transition: all 300ms;
    -webkit-transition: all 300ms;
    transition: all 300ms;
}

#sidebar ul li:first-child {
    text-align: center;
    color: white;
    font-size: 1.95em;
    list-style: none;
    padding: 25px 10px 10px 10px;
}

#sidebar ul li:not(:first-child) {
    width: 90%;
    margin-left: 10%;
    font-size: 1.95em;
    list-style: none;
    padding: 15px 10px;
}

#sidebar ul li a {
    color: #dfe5eb;
    text-decoration: none;
}

#sidebar ul li a:hover{
    color: #59e9df;
}

#sidebar .toggle-btn {
    position: absolute;
    left: 270px;
    top: 20px;
    background: #E0E5EA;
    padding: 10px;
    border-radius: 12px;
    cursor: pointer;
}

#sidebar .toggle-btn:hover {background: rgb(85, 85, 85);}
#sidebar .toggle-btn:hover span {background: #fafafa;}

#sidebar .toggle-btn span {
    display: block;
    width: 25px;
    height: 4px;
    background-color: rgb(85, 85, 85);
    margin: 4px;

}