.206_3 { 
	overflow:hidden;
}
.e206_3 { 
	width:1440px;
	height:1024px;
	position:absolute;
	background-image:url(images/desktop___1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e212_8 { 
	width:1440px;
	height:723px;
	position:absolute;
	left:0px;
	top:150px;
	background-image:url(images/image_120.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e103_87 { 
	width:1440px;
	height:150px;
	position:absolute;
	left:0px;
	top:0px;
}
.e9_7 { 
	background-color:rgba(90.00000223517418, 99.00000169873238, 72.00000330805779, 1);
	width:1440px;
	height:150px;
	position:absolute;
	left:0px;
	top:0px;
}
.e9_9 { 
	color:rgba(255, 255, 255, 1);
	width:1360.9805908203125px;
	height:101.02088165283203px;
	position:absolute;
	left:40.325401306152344px;
	top:24.31982421875px;
	font-family:Jost;
	text-align:center;
	font-size:50px;
	letter-spacing:0;
}
.e9_8 { 
	background-color:rgba(90.00000223517418, 99.00000169873238, 72.00000330805779, 1);
	width:1440px;
	height:150px;
	position:absolute;
	left:0px;
	top:873px;
}
