.206_7 { 
	overflow:hidden;
}
.e206_7 { 
	width:1440px;
	height:1024px;
	position:absolute;
	background-image:url(images/desktop___3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e103_91 { 
	width:705px;
	height:53px;
	position:absolute;
	left:0px;
	top:0px;
}
.e102_25 { 
	background-color:rgba(90.00000223517418, 99.00000169873238, 72.00000330805779, 1);
	width:705px;
	height:53px;
	position:absolute;
	left:0px;
	top:0px;
}
.e213_2 { 
	width:705px;
	height:53px;
	position:absolute;
	left:735px;
	top:0px;
}
.e213_3 { 
	background-color:rgba(90.00000223517418, 99.00000169873238, 72.00000330805779, 1);
	width:705px;
	height:53px;
	position:absolute;
	left:0px;
	top:0px;
}
.e202_10 { 
	width:704px;
	height:940px;
	position:absolute;
	left:1px;
	top:80px;
}
.e102_48 { 
	color:rgba(0, 0, 0, 1);
	width:698.0620727539062px;
	height:328.7055969238281px;
	position:absolute;
	left:5.937920570373535px;
	top:611.29443359375px;
	font-family:Jost;
	text-align:center;
	font-size:25px;
	letter-spacing:0;
}
.e102_46 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:621.0369873046875px;
	height:474.906005859375px;
	position:absolute;
	left:40.29634475708008px;
	top:119.783447265625px;
	background-image:url(images/image_112.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.102_46 { 
	border:3px solid rgba(90.00000223517418, 99.00000169873238, 72.00000330805779, 1);
}
.e103_11 { 
	color:rgba(0, 0, 0, 1);
	width:704px;
	height:81.73456573486328px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Jost;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}
.e206_8 { 
	background-color:rgba(90.00000223517418, 99.00000169873238, 72.00000330805779, 1);
	width:30px;
	height:1024px;
	position:absolute;
	left:705px;
	top:0px;
}
.e102_42 { 
	color:rgba(255, 255, 255, 1);
	width:719px;
	height:53px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Jost;
	text-align:center;
	font-size:35px;
	letter-spacing:0;
}
.e213_4 { 
	color:rgba(255, 255, 255, 1);
	width:705px;
	height:53px;
	position:absolute;
	left:735px;
	top:0px;
	font-family:Jost;
	text-align:center;
	font-size:35px;
	letter-spacing:0;
}
.e212_2 { 
	width:664px;
	height:942px;
	position:absolute;
	left:767px;
	top:82px;
}
.e103_101 { 
	width:664px;
	height:289.6013488769531px;
	position:absolute;
	left:0px;
	top:652.3986206054688px;
}
.e103_39 { 
	color:rgba(0, 0, 0, 1);
	width:331.50225830078125px;
	height:38.18918991088867px;
	position:absolute;
	left:38.8244743347168px;
	top:0px;
	font-family:Jost;
	text-align:center;
	font-size:25px;
	letter-spacing:0;
}
.e103_41 { 
	color:rgba(0, 0, 0, 1);
	width:492px;
	height:238px;
	position:absolute;
	left:172px;
	top:51.601318359375px;
	font-family:Jost;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e103_43 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:165.2533721923828px;
	height:220.64865112304688px;
	position:absolute;
	left:0px;
	top:51.979698181152344px;
	background-image:url(images/image_116.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.103_43 { 
	border:3px solid rgba(90.00000223517418, 99.00000169873238, 72.00000330805779, 1);
}
.e103_93 { 
	width:633.1394653320312px;
	height:294.9053955078125px;
	position:absolute;
	left:0px;
	top:345.8243103027344px;
}
.e103_6 { 
	color:rgba(0, 0, 0, 1);
	width:398.85870361328125px;
	height:47.2918815612793px;
	position:absolute;
	left:4.323716163635254px;
	top:4.2432861328125px;
	font-family:Jost;
	text-align:center;
	font-size:25px;
	letter-spacing:0;
}
.e102_57 { 
	color:rgba(0, 0, 0, 1);
	width:410.54315185546875px;
	height:167.6081085205078px;
	position:absolute;
	left:0px;
	top:58.34457778930664px;
	font-family:Jost;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e102_56 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:208.94651794433594px;
	height:294.9053955078125px;
	position:absolute;
	left:424.1927490234375px;
	top:0px;
	background-image:url(images/image_114.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.102_56 { 
	border:3px solid rgba(90.00000223517418, 99.00000169873238, 72.00000330805779, 1);
}
.e103_92 { 
	width:614.224853515625px;
	height:325.6689147949219px;
	position:absolute;
	left:0px;
	top:0px;
}
.e102_53 { 
	color:rgba(0, 0, 0, 1);
	width:402.1828918457031px;
	height:260.95947265625px;
	position:absolute;
	left:212.0419464111328px;
	top:53.04052734375px;
	font-family:Jost;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e103_5 { 
	color:rgba(0, 0, 0, 1);
	width:369.33135986328125px;
	height:40.31081008911133px;
	position:absolute;
	left:33.8470458984375px;
	top:0px;
	font-family:Jost;
	text-align:center;
	font-size:25px;
	letter-spacing:0;
}
.e103_8 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:198.1049346923828px;
	height:284.29730224609375px;
	position:absolute;
	left:0px;
	top:41.371620178222656px;
	background-image:url(images/image_115.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.103_8 { 
	border:3px solid rgba(90.00000223517418, 99.00000169873238, 72.00000330805779, 1);
}
