<!DOCTYPE html>
<html>
  <!--  This source code is exported from pxCode, you can get more document from https://www.pxcode.io  -->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />
    <!-- Please DO NOT remove this line, all link and script tags will be merged to here -->

    <link rel="stylesheet" type="text/css" href="/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/css/fonts.css" />

    <link rel="stylesheet" type="text/css" href="/css/RAPPERSKAYA1.css" />

    <script type="text/javascript" src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="text/javascript" src="https://unpkg.com/headroom.js@0.12.0/dist/headroom.min.js"></script>
  </head>

  <body class="flex-column">
    <main style="--src:url(/assets/7bba2b37a8201715104f024f0390aac9.png)" class="rapperskaya1 main">
      <div class="cell">
        <!-- ======= section1 ======= --> 
        <section class="section1__section1">
          <img src="/assets/2b7f1e01bf33027d95104cc9437a337f.png" alt="alt text" class="section1__image1" />
          <h3 class="section1__subtitle">
            Алия Молдогунова Советская девушка-снайпер, в годы Великой Отечественной войны служила в 54-й отдельной
            стрелковой бригаде 22-й армии 2-го Прибалтийского фронта, ефрейтор. Герой Советского Союза
          </h3>
          <h2 class="section1__medium_title">Алия Молдогулова</h2>
          <img src="/assets/e84352966e20e8dc035ca233ac998eeb.png" alt="alt text" class="section1__image2" />
          <h3 class="section1__subtitle1">
            Людмила Павличенко Женщина-снайпер 25-й Чапаевской стрелковой дивизии Рабоче-крестьянской Красной армии.
            Герой Советского Союза. После окончания Великой Отечественной войны до 1956 года служила офицером Главного
            штаба Военно-морского флота СССР в звании майора береговой службы<br />
          </h3>
          <h2 class="section1__medium_title1">Людмила Павличенко</h2>
          <h3 class="section1__subtitle2">
            Роза Шанина Советский одиночный снайпер отдельного взвода снайперов-девушек 3-го Белорусского фронта,
            кавалер ордена Славы; одна из первых женщин-снайперов, удостоенных этой награды. Была известна способностью
            вести точную стрельбу по движущимся целям дуплетом
          </h3>
          <h2 class="section1__medium_title2">Роза Шанина</h2>
          <img src="/assets/04839f5ddd79d0bad57f6dee8b72b788.png" alt="alt text" class="section1__image3" />
          <div class="section1__group">
            <div class="section1__rect"></div>
            <h1 class="section1__big_title">«Женщина-снайпер»</h1>
          </div>
          <div class="section1__rect1"></div>
          <img src="/assets/0a27eaff9b3287136a206a41a3c1d8b0.png" alt="alt text" class="section1__image4" />
          <h3 class="section1__subtitle3">
            Нина Ширяева советский офицер-танкист, участница Великой Отечественной войны. В годы войны — командир танка
            Т-34 237-й танковой бригады, капитан. Родилась 15 августа 1922 года в городе Владивосток в семье военного.
          </h3>
          <h2 class="section1__medium_title3">Нина Ширяева</h2>
          <h2 class="section1__medium_title4">Ирина Левченко</h2>
          <img src="/assets/a8ff21362160eb866c6a198e7444c5b2.png" alt="alt text" class="section1__image5" />
          <h3 class="section1__subtitle4">
            Ирина Левченко советский офицер, участница Великой Отечественной войны, Герой Советского Союза (1965).
            Гвардии подполковник. Первая советская женщина, удостоенная медали имени Флоренс Найтингейл (1961).В годы
            Великой Отечественной войны — санинструктор роты 744-го стрелкового полка 149-й стрелковой дивизии, офицер
            связи 41-й гвардейской танковой бригады.
          </h3>
          <img src="/assets/0b91f4824bc66370789406ac8a1454c2.png" alt="alt text" class="section1__image6" />
          <h2 class="section1__medium_title5">Екатерина Петлюк</h2>
          <h3 class="section1__subtitle5">
            Екатерина Петлюк советский танкист, участница Великой Отечественной войны. В годы войны — механик-водитель
            именного лёгкого танка Т-60 — «Малютка», построенного на деньги дошкольников города Омска.
          </h3>
          <div class="section1__group1">
            <div class="section1__rect2"></div>
            <h1 class="section1__big_title1">«Женщины-танкистки»</h1>
          </div>
        </section>
        <!-- ======= End section1 ======= --> 

      </div>
    </main>
    <script type="text/javascript">
      AOS.init();
    </script>
  </body>
</html>
