.main {
  display: flex;
  flex-direction: column;
  background: var(--src) center center/cover no-repeat;
  padding: undefinedpx undefinedpx undefinedpx undefinedpx;
  position: relative;
  overflow: hidden;
}

body { min-width: 960px;}

.main > .cell {
  display: flex;
  flex-direction: column;
  position: relative;
}

.section1__section1 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex-grow: 1;
  min-height: 1024px;
}

.section1__image1 {
  outline: 3px solid #5a6348;
  outline-offset: -3px;
  width: 263px;
  height: auto;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.247));
  aspect-ratio: 1.13;
  vertical-align: top;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center center;
  object-position: center center;
  position: absolute;
  bottom: 104px;
  left: 12px;
}

.section1__subtitle {
  display: flex;
  justify-content: center;
  font: 400 20px/1.45 "Jost", Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: 0px;
  width: 361px;
  height: 187px;
  position: absolute;
  bottom: 101px;
  left: 294px;
}

.section1__medium_title {
  display: flex;
  justify-content: center;
  font: 800 25px/1.44 "Jost", Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: 0px;
  width: 281px;
  height: 40px;
  position: absolute;
  top: 696px;
  left: 348px;
}

.section1__image2 {
  outline: 3px solid #5a6348;
  outline-offset: -3px;
  width: 269px;
  height: auto;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.247));
  aspect-ratio: 0.76;
  vertical-align: top;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center center;
  object-position: center center;
  position: absolute;
  top: 0px;
  left: 9px;
}

.section1__subtitle1 {
  display: flex;
  justify-content: center;
  font: 400 20px/1.45 "Jost", Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: 0px;
  width: 385px;
  height: 243px;
  position: absolute;
  top: 98px;
  left: 288px;
}

.section1__medium_title1 {
  display: flex;
  justify-content: center;
  font: 800 25px/1.44 "Jost", Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: 0px;
  width: 389px;
  height: 45px;
  position: absolute;
  top: 53px;
  left: 289px;
}

.section1__subtitle2 {
  display: flex;
  justify-content: center;
  font: 400 20px/1.45 "Jost", Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: 0px;
  width: 407px;
  height: 219px;
  position: absolute;
  top: 430px;
  left: 12px;
}

.section1__medium_title2 {
  display: flex;
  justify-content: center;
  font: 800 25px/1.44 "Jost", Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: 0px;
  width: 294px;
  height: 36px;
  position: absolute;
  top: 380px;
  left: 37px;
}

.section1__image3 {
  outline: 3px solid #5a6348;
  outline-offset: -3px;
  width: 222px;
  height: auto;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.247));
  aspect-ratio: 0.71;
  vertical-align: top;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center center;
  object-position: center center;
  position: absolute;
  top: 366px;
  left: 451px;
}

.section1__group {
  display: flex;
  flex-direction: column;
  width: 685px;
  height: 80px;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.section1__rect {
  background-color: #5a6348;
  position: absolute;
  top: 0px;
  bottom: 0px;
  min-height: 80px;
  left: 0px;
  right: -55px;
}

.section1__big_title {
  display: flex;
  justify-content: center;
  font: 800 35px/0.93 "Jost", Helvetica, Arial, serif;
  color: white;
  text-align: center;
  letter-spacing: 0px;
  height: 43px;
  position: absolute;
  top: 22px;
  left: 0px;
  right: 0px;
}

.section1__rect1 {
  background-color: #5a6348;
  width: 39px;
  position: absolute;
  top: -2px;
  bottom: 0px;
  min-height: 1014px;
  left: -100vw;
  right: -100vw;
  margin: 0px auto;
}

.section1__image4 {
  outline: 3px solid #5a6348;
  outline-offset: -3px;
  width: 242px;
  height: auto;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.247));
  aspect-ratio: 0.8;
  vertical-align: top;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center center;
  object-position: center center;
  position: absolute;
  top: 16px;
  right: 443px;
}

.section1__subtitle3 {
  display: flex;
  justify-content: center;
  font: 400 20px/1.45 "Jost", Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: 0px;
  width: 423px;
  height: 182px;
  position: absolute;
  top: 127px;
  right: 8px;
}

.section1__medium_title3 {
  display: flex;
  justify-content: center;
  font: 800 25px/1.44 "Jost", Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: 0px;
  width: 372px;
  height: 73px;
  position: absolute;
  top: 16px;
  right: 46px;
}

.section1__medium_title4 {
  display: flex;
  justify-content: center;
  font: 800 25px/1.44 "Jost", Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: 0px;
  width: 412px;
  height: 36px;
  position: absolute;
  top: 374px;
  right: 268px;
}

.section1__image5 {
  outline: 3px solid #5a6348;
  outline-offset: -3px;
  width: 236px;
  height: auto;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.247));
  aspect-ratio: 0.86;
  vertical-align: top;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center center;
  object-position: center center;
  position: absolute;
  top: 400px;
  right: 22px;
}

.section1__subtitle4 {
  display: flex;
  justify-content: center;
  font: 400 20px/1.45 "Jost", Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: 0px;
  width: 417px;
  height: 290px;
  position: absolute;
  top: 414px;
  right: 268px;
}

.section1__image6 {
  outline: 3px solid #5a6348;
  outline-offset: -3px;
  width: 257px;
  height: auto;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.247));
  aspect-ratio: 1.13;
  vertical-align: top;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center center;
  object-position: center center;
  position: absolute;
  bottom: 89px;
  right: 428px;
}

.section1__medium_title5 {
  display: flex;
  justify-content: center;
  font: 800 25px/1.44 "Jost", Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: 0px;
  width: 362px;
  height: 41px;
  position: absolute;
  top: 721px;
  right: 32px;
}

.section1__subtitle5 {
  display: flex;
  justify-content: center;
  font: 400 20px/1.45 "Jost", Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: 0px;
  width: 416px;
  height: 174px;
  position: absolute;
  bottom: 88px;
  right: 12px;
}

.section1__group1 {
  display: flex;
  flex-direction: column;
  width: 720px;
  height: 82px;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.section1__rect2 {
  background-color: #5a6348;
  position: absolute;
  top: 0px;
  bottom: 0px;
  min-height: 82px;
  left: 0px;
  right: 0px;
}

.section1__big_title1 {
  display: flex;
  justify-content: center;
  font: 800 35px/0.93 "Jost", Helvetica, Arial, serif;
  color: white;
  text-align: center;
  letter-spacing: 0px;
  height: 36px;
  position: absolute;
  top: 24px;
  left: 25px;
  right: 12px;
}