@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@500&display=swap');
body{
    color: black;
    font-family: 'Catamaran', sans-serif;
    background-color: aliceblue;
    width: 100%;
    height: 100%;
    font-size: 18pt;
    display: block;
    
}
header{
    margin: 0;
    text-align: center;
    background-color: rgb(43, 184, 170);
    color:#fff;
    width: 100%;
    height: 20%;
}
main{
    height: 60%;
    
}
h1{
    font-size: 25pt;
    color: black    ;
}
h2{
    font-size: 25pt;
    color: black;
}

.afoot{
    color:#fff;
    height: 20%;
    background-color: rgb(71, 71, 71);
    text-decoration: none;
}

li{
    margin: 0;
    list-style-type: none;
}

#secrets {
    display: none;
    visibility: hidden;
}

.meows {
    width: 500px;
    height: 400px;
    margin-left: 20px;
    border-radius: 20%;
    margin-top: 20px;
}

.tpa {
    color: black;
    text-decoration: none;
}

.tpabitton {
    background-color: rgb(43, 184, 170);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.topnav a {
    float: left;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: whitesmoke;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: whitesmoke;
}

#imagesabout {
    display: inline;
    width: 500px;
    height: 500px;
}