@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');
body{
    margin: 0;
    padding: 0;
    color: black;
    font-family: 'Rubik Glitch', cursive;
    background: -webkit-linear-gradient(90deg, #f0f8ff,#e3f8ff,#fcf8ff,#e2f8ff,#d5f8ff);/* Chrome 10-25, Safari 5.1-6 */                          background: linear-gradient(90deg, #f0f8ff,#e3f8ff,#fcf8ff,#e2f8ff,#d5f8ff);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */                                             
    width: 100%;
    height: 100%;
    font-size: 18pt;
    display: block;
}

header{
    margin: 0;
    text-align: center;
    background-color: rgb(43, 184, 170);
    color:#fff;
    width: 100%;
    height: 20%;
    position: relative;
}

.nenazhim {
    color: rgb(43, 184, 170);
    text-decoration: none;
}
main{
    height: 60%;
    padding-left: 20px;
}
h1{
    font-size: 25pt;
    color: black    ;
}
h2{
    font-size: 25pt;
    color: black;
}

.afoot{
    margin: 0;
    color:#fff;
    height: 20%;
    background-color: rgb(71, 71, 71);
    text-decoration: none;
}

li{
    margin: 0;
    list-style-type: none;
}

#secrets {
    display: none;
    visibility: hidden;
}

.meows {
    width: 500px;
    height: 400px;
    margin-left: 20px;
    border-radius: 20%;
    margin-top: 20px;
}

img {
    width: 600px;
    height: 400px;
}

.tpa {
    color: black;
    text-decoration: none;
}

.tpabitton {
    background-color: rgb(43, 184, 170);
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	position: fixed;
	right: 45px;
	bottom: 45px;
    border: none;
    border-radius: 20%;
    color: white;
}

.topnav a {
    float: right;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: whitesmoke;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: whitesmoke;
}

.imagesabout {
    display: inline;
}

#zatemnenie {
    background: rgba(102, 102, 102, 0.5);
    width: 100%;
    height: 710%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
  }
  #okno {
    width: 300px;
    height: 470px;
    text-align: center;
    padding: 15px;
    border: 3px solid rgb(43, 184, 170);
    border-radius: 10px;
    color: rgb(43, 184, 170);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 10;
    left: 0;
    margin: auto;
    background: #fff;
  }
  #zatemnenie:target {display: block;}
  .close {
    display: inline-block;
    border: 1px solid rgb(43, 184, 170);
    color: rgb(43, 184, 170);
    padding: 0 12px;
    margin: 10px;
    text-decoration: none;
    background: #f2f2f2;
    font-size: 14pt;
    cursor:pointer;
  }
  .close:hover {background: #e6e6ff;}

  .countdown-title {
    color: rgb(43, 184, 170);
    font-weight: 100;
    font-size: 40px;
    margin: 40px 0px 20px;
  }
   
  .countdown {
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
  }
   
  .countdown-number {
    padding: 10px;
    border-radius: 3px;
    background: rgb(43, 184, 170);
    display: inline-block;
  }
   
  .countdown-time {
    padding: 15px;
    border-radius: 3px;
    background: rgb(43, 184, 170);
    display: inline-block;
  }
   
  .countdown-text {
    display: block;
    padding-top: 5px;
    font-size: 16px;
  }

  #noisy-canvas {
    width:100%;
    height: 500px;
}

canvas {
    width: inherit;
    height: auto;
}

  @keyframes glitch-anim-1 {
    0% {clip: rect(30px, 9999px, 10px, 0);}
    25% {clip: rect(15px, 9999px, 100px, 0);}
    50% {clip: rect(50px, 9999px, 105px, 0);}
    75% {clip: rect(2px, 9999px, 80px, 0);}
    100% {clip: rect(90px, 9999px, 100px, 0);}
  }
  
  @keyframes glitch-anim-2 {
    0% {
      top: -1px;
      left: 50px;
      clip: rect(65px, 9999px, 119px, 0);
    }
    25% {
      top: -10px;
      left: 1px;
      clip: rect(79px, 9999px, 19px, 0);
    }
    50% {
      top: -7px;
      left: 20px;
      clip: rect(65px, 9999px, 11px, 0);
    }
    75% {
      top: 10px;
      right: 20px;
      left: -50px;
      clip: rect(95px, 9999px, 53px, 0);
    }
    100% {
      top: -5px;
      left: -7px;
      clip: rect(31px, 9999px, 149px, 0);
    }
  }